/* Important colors:
    #99c1ec
*/

/*Custom Fonts-------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

/* CSS reset--------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common CSS-------------------------------------*/
body {
    font-family: "Abel", Arial, Helvetica, "Anton", sans-serif;
    padding: 30px;
    background: lightgray;
}

/* Logo Bar */

#logo-bar {
    /* padding-bottom: 0.5rem; */
    background: #30336b;
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #99c1ec;
}

#main-logo {
    height: 4rem;
}
/* Navbar CSS-------------------------------------------*/

nav {
    background: #30336b;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

nav a {
    text-align: center;
    padding: 2rem;
    flex-basis: 33.333%;
    list-style: none;
}

nav #home-button {
    border-right: 1px solid #99c1ec;
    border-left: 1px solid #99c1ec;
}

nav .active,
nav a:hover {
    background-color: #1e185e;
}

nav a:link,
nav a:visited {
    color: #444;
    text-decoration: none;
}

.icon {
    height: 1.5rem;
    width: auto;
    /* color: ; */
}

nav a h4 {
    display: inline;
    font-size: 1.3rem;
    color: #99c1ec;
}

/* Banner */
#banner-image {
    position: relative;
    height: 90vh;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.144),
            rgba(0, 0, 0, 0.829)
        ),
        url("../Images/Banner.jpg");
    background-size: cover;
    background-position: center;
}

#banner-text {
    position: absolute;
    top: 70%;
    left: 65%;
    text-align: right;
    color: #f4f4f4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 10px;
}

#banner-title {
    font-size: 4rem;
}

#banner-blurb {
    font-size: 1.2rem;
}

/* Index.html CSS------------------------------------*/

table {
    border: 3px solid black;
}
