/* Important colors:
	primary     : #30336b
	secondary   : #99c1ec
	carrot      : #e67e22
	gray        : #444
	light gray  : #d3d3d3
	lighter gray: #f3f3f3
	*/

/*Custom Fonts-------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* CSS reset--------------------------- */
* {
	box-sizing: border-box;
	margin    : 0;
	padding   : 0;
}

/* Common CSS-------------------------------------*/
body {
	font-family   : "Abel", Arial, Helvetica, "Anton", sans-serif;
	/* padding    : 30px;
	background    : #d3d3d3; */
	background    : #30336b;
	border        : 30px #d3d3d3 solid;
}

table {
	border: 3px solid black;
}

/* Utility Classes */

.l-heading {
	font-size: 4rem;
}

.lead {
	font-size: 1.2rem;
}

.btn:link,
.btn:visited {
	color          : #444;
	text-decoration: none;
}

/* Logo Bar -------------------------------- */

.logo-bar {
	/* padding-bottom: 0.5rem; */
	background       : #30336b;
	padding          : 0.5rem;
	text-align       : center;
	border-bottom    : 1px solid #99c1ec;
}

.main-logo__img {
	height: 4rem;
}

/* Navbar -------------------------------------------*/

.navbar {
	background     : #30336b;
	display        : flex;
	justify-content: space-around;
	justify-content: center;
}

.navbar__btn {
	text-align: center;
	padding   : 2rem;
	flex-basis: 33.333%;
	list-style: none;
}

.home-btn {
	border-right: 1px solid #99c1ec;
	border-left : 1px solid #99c1ec;
}

.ttd-btn {
	border-right: 1px solid #99c1ec;
	border-left : 1px solid #99c1ec;
}

.acc-btn {
	border-right: 1px solid #99c1ec;
	border-left : 1px solid #99c1ec;
}

.navbar__btn--active,
.navbar__btn:hover {
	background-color: #1e185e;
}


.navbar__icon {
	height: 1.5rem;
	width : auto;

}

.btn__text {
	display  : inline;
	font-size: 1.3rem;
	color    : #99c1ec;
}

/* Banner -------------------------------------*/
.banner__home {
	position: relative;
	height  : 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.144),
			rgba(0, 0, 0, 0.685)),
		url("../Images/Banner.jpg");
	background-size    : cover;
	background-position: bottom;
}

.banner__ttd {
	position: relative;
	height  : 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.144),
			rgba(0, 0, 0, 0.685)),
		url("../Images/GameOfWar.jpg");
	background-size    : cover;
	background-position: bottom;
}

.banner__acc {
	position: relative;
	height  : 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.144),
			rgba(0, 0, 0, 0.685)),
		url("../Images/CoolParkThemeResort.jpg");
	background-size    : cover;
	background-position: bottom;
}

.banner__content {
	position      : absolute;
	width         : 50%;
	bottom        : 0;
	right         : 0;
	text-align    : right;
	color         : #f4f4f4;
	font-family   : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding-right : 20px;
	padding-bottom: 20px;
}

/* Events Section ---------------------------------*/


.events__container {
	display       : flex;
	/* padding-top: 1rem; */
}

.event {
	flex      : 1;
	border    : solid #d3d3d3 10px;
	list-style: none;
	cursor    : pointer;
}


.event__image {
	width : 100%;
	height: 300px;
}

.event__caption {
	text-align: center;
	font-size : 1.5rem;
	background: #e67e22;
	border    : 3px dotted #f4f4f4;
}

/* Content Section ------------------- */

.content {
	padding: 5rem;
}

.content__card {
	display   : flex;
	background: #d3d3d3;
	border    : #444 10px solid;
}

.content__card:last-child {
	border-bottom: #444 20px solid;
}

.content__card:first-child {
	border-top: #444 20px solid;
}

.content__img {
	max-width: 400px;
	flex     : 1;
}

.content__text {
	flex       : 1;
	font-family: 'Raleway';
	padding    : 1rem;
	padding-top: 3rem;
	text-align : center;
}

.content__title {
	padding: 1rem;
}

.content__btn {
	display      : inline-block;
	background   : #1e185e;
	border-radius: 5px;
	border       : none;
	padding      : 0.3rem;
	margin-top   : 1rem;
}

.content__btn:link,
.content__btn:hover,
.content__btn:visited {
	cursor         : pointer;
	color          : #f4f4f4;
	text-decoration: none;
}

/* Info and Map -------------- */

.info {
	display      : flex;
	height       : 500px;
	border-top   : aquamarine 3px solid;
	border-bottom: aquamarine 3px solid;
}

.info__left {
	flex       : 1;
	background : #30336b;
	padding-top: 170px;
}

.info__item {
	list-style : none;
	text-align : center;
	line-height: 3rem;
	color      : #f4f4f4;
	;
}

.info__link {
	text-decoration: none;
	font-weight    : bold;
	color          : aquamarine;
}

.info__right {
	flex   : 1.4;
	padding: 1rem;
}

/* Footer */

.footer {
	color                : #f4f4f4;
	/* display           : inline; */
	/* justify-content   : space-between; */
	/* disp */
}

.social {
	display    : inline-block;
	text-align : left;
	clear      : both;
	margin-left: 5px;
}

.copyright {
	text-align : center;
	text-align : right;
	float      : right;
	padding-top: 1.5rem;
}

.icon-container {
	display        : flex;
	height         : 1.2rem;
	justify-content: space-around;

}

.footer__icon {
	width : 20px;
	cursor: pointer;
}

/* Input */
.input {
    text-align : center;
    height : 2rem;
}

/* Button */
.button {
    text-align : center;
    width : 10rem;
    height : 2rem;
}