/* Important colors:
    #99c1ec
*/

/*Custom Fonts-------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

/* CSS reset--------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Common CSS-------------------------------------*/
body {
	font-family: "Abel", Arial, Helvetica, "Anton", sans-serif;
	padding: 30px;
	background: lightgray;
}

/* Logo Bar */

.logo-bar {
	/* padding-bottom: 0.5rem; */
	background: #30336b;
	padding: 0.5rem;
	text-align: center;
	border-bottom: 1px solid #99c1ec;
}

.main-logo__img {
	height: 4rem;
}

/* Navbar CSS-------------------------------------------*/

.navbar {
	background: #30336b;
	display: flex;
	justify-content: space-around;
	justify-content: center;
}

.navbar__btn {
	text-align: center;
	padding: 2rem;
	flex-basis: 33.333%;
	list-style: none;
}

.home-btn {
	border-right: 1px solid #99c1ec;
	border-left: 1px solid #99c1ec;
}

.navbar__btn--active,
.navbar__btn:hover {
	background-color: #1e185e;
}

.btn:link,
.btn:visited {
	color: #444;
	text-decoration: none;
}

.btn__icon {
	height: 1.5rem;
	width: auto;
	/* color: ; */
}

.btn__text {
	display: inline;
	font-size: 1.3rem;
	color: #99c1ec;
}

/* Banner */
.banner {
	position: relative;
	height: 90vh;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.144),
			rgba(0, 0, 0, 0.685)
		),
		url("../Images/Banner.jpg");
	background-size: cover;
	background-position: bottom;
}

.banner__content {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	text-align: right;
	color: #f4f4f4;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding-right: 10px;
}

.l-heading {
	font-size: 4rem;
}

.lead {
	font-size: 1.2rem;
}

/* Index.html CSS------------------------------------*/

table {
	border: 3px solid black;
}
